<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>
    <h3>hello</h3>

    <script type="text/javascript" src="https://g.alicdn.com/sj/lib/jquery.min.js"></script>
  </body>
</html>
