<!DOCTYPE html>
<html>
  <head>
   <title><%= title %></title>
   <script>
        window.loadingStartTime = new Date()
      </script>
    <link rel='stylesheet' href='/stylesheets/style-threeSquirrels.min.css' />
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    
  </head>
  <body>

    <div class="body-wrap">
        
        <!-- 游戏页 -->
        <div id="gamePage" class="page game_page">
          <div class="game_header">
            <div class="show_time"></div>
          </div>
          <div class="game_body">
            <ul class="couten"></ul>
          </div>
          <div class="mo">
            <div class="sen">
                <img src="/images/hongyun_but8687.png">
                <h3>获得红包3元</h3>
                <a href="#">确定</a>
            </div>
        </div>
        </div>
        <!-- 结果页 -->
        <div id="resultPage" class="page result_page"></div>
        
    </div>
    



    <script type="text/javascript" src="https://g.alicdn.com/sj/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/threeSquirrels.js"></script>
  </body>
</html>