<!DOCTYPE html>
<html>
  <head>
     
    <title>三只松鼠</title>
 
    <link rel='stylesheet' href='/stylesheets/style-threeSquirrels.min.css' />
    <meta content="telephone=no" name="format-detection" />
    <script type="text/javascript" src="https://g.alicdn.com/sj/lib/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    
  </head>
  <body>

	<div class="body-wrap">
        <!-- 加载页 -->
         <div id="loadingPage" class="page loading_page">
            <div class="loading_wrap">
                <img src="/image/loading.png" alt="" class="loading_img">
                <div class="loading" id="loading">
               
                  <div class="progress" id="progress"></div>
                   
                  <p>Loading...</p>
                </div>
            </div>
            
        </div>
		<!-- 欢迎页 -->
		<div id="welcomePage" class="page welcome_page hidden">
			<div class="dis_top"></div>
			<div class="dis_body">
				<div class="game_mask hidden"></div>
				<div class="game_rule_show hidden">
					<div class="game_rule_box animated fadeInDown">
						<div class="game_box_2">
							<img src="image/gamerule.png" alt="" class="game_rule  ">
							<a id="goToGame" href="javascript:;" ><img src="image/go.png" alt="" class="go"></a>
						</div>
					</div>
				</div>
				
	           <img src="image/tfbodys.png" class="animated fadeIn tfbodys" alt="">
	           <img src="image/more.png" class="animated fadeInDown more" alt="">
	           <img src="image/welcome.gif" class="animated fadeInDown welcome" alt="">
	           <!-- <div class="welcome_gif_wrap"></div> -->
	           <a href="#" id="openGame"><img src="image/open.png" alt="" class="open animated fadeIn" ></a>
			</div>
           <div class="dis_top"></div>
        </div>
		
		<div id="readyGoPage" class="page readygo_page hidden">
			<div class="game_box_ready">
				<img src="image/readygo.gif" alt="" class="readygo">
			</div>
		</div>


		<!-- 游戏页 -->
		<div id="gamePage" class="page game_page hidden">
			<div class="game_mask hidden"></div>
			<div class="game_result_show game_result_unsuccess hidden ">
				<div class="game_tooltip_box animated fadeInDown">
					<img src="image/result_0.png" alt="" class="game_unsucess  ">
					<a href="javascript:;" class="gameAgain"><img src="image/again.png" alt="" class="game_again_btn"></a>
					<a href="javascript:;" class="GetPhoto"><img src="image/get_photo.png" alt="" class="get_photo_btn"></a>
				</div>
				
				<!-- <img src="image/result_1.png" alt="" class="game_unsucess animated fadeInDown hidden"> -->
			</div>
			<div class="game_result_show game_result_success hidden">
				<div class="game_tooltip_box center animated fadeInDown">
				<div class="game_data">
					<img src="image/result_10.png" alt="" class="game_sucess">
					<span class="use_time"></span>
					<span class="use_percent">xx%</span>
					<a href="javascript:;"><img src="image/youhuijuan.png" alt="" class="youhuijiuan"></a>
				</div>
					
					<a href="javascript:;" class="GetPhoto"><img src="image/get_photo.png" alt="" class="get_photo_btn" style="width:50%;height:auto"></a>
				</div>
				<!-- <img src="image/result_0.png" alt="" class="game_unsucess animated fadeInDown "> -->
			</div>

			<div class="game_container">
				<div class="game_header">
					<div class="game_time ">
						<span class="time_clock"></span>
						<p style="display:inline-block;width:88px">
							<span class="time_m_first"></span>
							<span class="time_m_second"></span>
							<span class="time_spot"></span>
							<span class="time_s"></span>
							<span class="time_s_unit"></span>
						</p>
					</div>
					<div class="game_type">
						<div class="type type_1"></div>
						<div class="type type_2"></div>
						<div class="type type_3"></div>
						<div class="type type_4"></div>
						<div class="type type_5"></div>
						<div class="type type_6"></div>
						<div class="type type_7"></div>
						<div class="type type_8"></div>
					</div>
				</div>
				<div class="game_body">
					<div class="game_box">
						<div class="game_track track_1">
							<ul class="track_ul track_ul_1">
								<!-- <li><img src="" alt=""></li> -->
							</ul>
						</div>
						<div class="game_track track_2">
							<ul class="track_ul track_ul_2"></ul>
						</div>
						<div class="game_track track_3">
							<ul class="track_ul track_ul_3"></ul>
						</div>
						<div class="game_track track_4">
							<ul class="track_ul track_ul_4"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- <div id="resultPage" class="page result_page"></div> --> 
		<!-- 签名图片页 -->
		<div id="autographPage" class="page autograph_page hidden">
			<!-- <div class="dis_top"></div> -->
			<div class="photo_show"> 
				<!-- 随机显示TFbody签名照片 -->
				<div class="img_container">
					
					
				</div>
				<a href="javascript:;" class=" photo_btn animated fadeInDown" id="getMore">
					<img src="/image/getmore.png" alt="">
				</a>
				<a href="javascript:;" class="photo_btn animated fadeInDown" id="toBuy">
					<img src="/image/tobuy.png" alt="">
				</a>
				<!-- <img src="/image/photo_1.png" alt="" class="photo_img animated fadeInDown" > -->
				
				
			</div>
			<div class="dis_bottom"></div>
		</div>
	</div>
	



   
    <script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script> 
    <script type="text/javascript" src="/javascripts/threeSquirrels.js"></script>
  </body>
</html>